// css Document
*{
	margin: 0;
	padding: 0;
	
}
body{
	background-color:#171717;
	align-content: center;
	padding: 30px;
}
#container{
	max-width: 600px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	align-content: center;
	margin-top: 100px;
	display: block;
	text-align: center;
	width: 100%;
	color: white;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}
p{
	width: 100%;
	color: aliceblue;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
.number{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-left: auto;
	padding-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 80px;
	height: 45px;
	color: black;
	background-color: white;
	text-align: center;
	font-size: 40px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
#headerMenu{
	width: 100%;
	display: flex;
}
#headerData{
	width: 100%;
	position: relative;
}
.between{
	float: right;
	width: 49%;
	text-align: right;
	font-size: 20px;
	display: inline;
}
.again{
	width: 49%;
	float: left;
	display: inline;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:aliceblue;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 30px;
	border: 0;
	border-radius: 10px;
}
.between{
	float: right;
}
.right{
	width: 100%;
	display: block;
	float: left;
	position: relative;
}
.message{
	width: 100%;
	text-align: center;
	font-size: 30px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	margin-left: auto;
	margin-right: auto;
}
.label-score{
	width: 40%;
	float: left;
	display: inline;
	padding: 20px;
	border: 2px solid white;
}
.label-highscore{
	width: 40%;
	float: right;
	display: inline;
	padding: 20px;
	border: 2px solid white;
}
.left{
	width: 100%;
	position: relative;
	float: left;
	align-content: center;
}
.guess{
	width: 200px;
	height: 50px;
	font-size: 30px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 0;
	display: block;
}
.check{
	width: 200px;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color:aliceblue;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 30px;
	border: 0;
	border-radius: 10px;
}
