@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}
body{
	overflow: hidden;
}
.hidden{
	display: none;
}
.text{
	display: block;
	float: left;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	text-align: center;
	border: 0px;
	background-color:lightblue;
	border-radius: 20px;
	padding: 10px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	color: white;
	user-select: none;
}
#loseGame{
	position: absolute;
	margin-left: 120px;
	margin-right: auto;
	width: 400px;
	top: 100px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 4em;
	color: firebrick;
	z-index: 20;
}
#game{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 200px;
	border: none;
	/*border-bottom: 1px solid black;*/
	overflow: hidden;
}
#menu{
	margin-top: 50px;
	width: 600px;
	padding-left: 50px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}
#score {
	position: absolute;
	top: 20px;
	left: 700px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	border: 1px solid black;
	padding: 5px; 
}
#highScore{
	position: absolute;
	top: 20px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	border: 1px solid black;
	padding: 5px; 
}
.character{
	width: 60px;
	height: 75px;
	position: relative;
	top: 125px;
	left: 50px;
	background-image:url("hero2.png");
}
.animate{
	animation: jump 0.6s 1;
}
.enemy{
	width: 40px;
	height: 40px;
}
.block{
	width: 40px;
	height: 40px;
	position: relative;
	top: 85px;
	left: 620px;
	-webkit-animation: block 2s linear infinite;
}
.flying{
	width: 40px;
	height: 40px;
	position: relative;
	top: -50px;
	left: 620px;
}
.flyingAnim{
	animation: flyingAnim 4.1s linear infinite;
}
.background{
	position: absolute;
	top: 0px;
	background-repeat: repeat-x;
	width: 4000px;
	height: 250px;
	background-repeat: 0;
	background-image: url("bg2.jpg");
	animation: bgAnimation 15s infinite;
	animation-timing-function: linear;
	z-index: -1;
}
#bgContainer{
	width: 600px;
	width: 600px;
}

@keyframes bgAnimation{
	0%{left:-200px;}
	100%{left:-2000px;}
}

@keyframes block{
	0%{left:620px; opacity: 0%}
	20%{opacity: 100%}
	85%{opacity: 100%;}
	95%{opacity: 0%;}
	100%{left: -50px; opacity: 0%;}
}

@keyframes flyingAnim{
	0%{left:620px; opacity: 0%;}
	20%{opacity: 100%;}
	80%{opacity: 100%;}
	100%{left: -60px; opacity: 0%;}
}

@keyframes jump{
	0%{top:125px;}
	55%{top:50px;}
	60%{top:50px;}
	100%{top:125px;}
}
