<div id="labelContainer">
    <div id="label">
        <div id="labelContentContainer">
            <div id="header">
                <div id="headerLineOne">
                    <div id="logo"><img id="logoContainer"/></div>
                    <div id="Name" class="edit-text">Product name</div>
                </div>
                <div id="headerLineTwo">
                    
                    <div id="additionalName" class="edit-text">Product type</div>
                </div>
            </div>
            <div id="content" class="edit-text">Product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/><br/> Best before:<br/><br/>Date:
            </div>
            <div id="weightContainer">
                <div id="nettWeight"><b>Masa<br/>netto:</b></div>
                <div id="mass">1000 g</div>
            </div>
            <div id="footer">
                <div id="barcode"></div>  
                <div id="produceForArea">Produce for<br/>Your company name.</div> 
            </div>
        
        </div><!-- labelContentContainer end-->
    </div> <!--label end-->
  </div> 