@charset "UTF-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	background-color: #004040;
}

.hidden{
	display: none;
}

.notWork{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:2em;
	color: #ffffff;
	background-color: tomato;
	padding: 10px;
	border-radius: 20px;
	user-select: none;	
}
.btn{
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:2em;
	color: #004040;
	background-color: aliceblue;
	padding: 10px;
	border-radius: 20px;
	user-select: none;		
}

.btn:hover{
	color: darkgreen;
}

.header{
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color: aliceblue;
	font-size: 3em;
	font-weight: 200;
	line-height: 1.5em;
	font-style: normal;
	text-transform: uppercase;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.info{
	margin-left: auto;
	margin-right: auto;
	width:600px;
	color: aliceblue;
	font-size: 1.5em;
	font-weight: 200;
	line-height: 1em;
	font-style: normal;
	text-transform: uppercase;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	text-align: center;
	margin-bottom: 20px;
}

.deposit{
	width: 200px;
	height: 50px;
	border: 0px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	color: #004040;
	text-align: center;
}

.depositContainer, .withdrawContainer{
	width: 100%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: block;
	text-align: center;
}

.data{
	margin-left: auto;
	margin-right: auto;
	width:80%;
	color: aliceblue;
	font-size: 1em;
	font-weight: 200;
	line-height: 1.25em;
	font-style: normal;
	text-transform: uppercase;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align:left;
	margin-top: 10px;
	margin-bottom: 10px;
}

#btnStart{
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	padding: 20px;
	border-radius: 20px;
}

#startScreen{
	margin:auto;
	padding: 50px;
	min-width: 700px;
	width:700px;
	height: 100%;
	align-content: center;
	border-radius: 25px;
	background-color:#008B8B;
	-ms-transform: translateY(20%);
  	transform: translateY(20%);
	clear: both;
}

#menuScreen{
	min-width: 700px;
	width:700px;
	margin:auto;
	padding: 50px;
	width: 80%;
	height: 80%;
	align-content: center;
	border-radius: 25px;
	background-color:#008B8B;
	-ms-transform: translateY(10%);
  	transform: translateY(10%);
	clear: both;
}

#infoScreen{
	min-width: 600px;
	width:600px;
	height: 80%;
	border-radius: 25px;
	background-color:tomato;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: aliceblue;
	padding: 40px;
	font-size: 1.5em;
	position: relative;
	z-index: 10;
	-ms-transform: translate(0%, -200%);
  	transform: translate(0%, -200%);
}

#btnCancInfo{
	width: 40%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size:1.5em;
	color: #004040;
	background-color: aliceblue;
	padding: 5px;
	border-radius: 20px;
	user-select: none;	
}

#loginScreen, #clientDataScreen, #depositScreen, #withdrawScreen{
	margin:20px;
	padding: 50px;
	min-width: 700px;
	width:700px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	border-radius: 25px;
	background-color:#008B8B;
}

#withdrawAmount{
	text-align: center;
}

#cardInsertContainer, #cardNumberContainer, #pinInsertContainer{
	text-align: left;
	width:auto;
	padding: 20px;
}

#cardInsert{
	width: 30px;
	height: 30px;
	border-radius: 10px;
	border: 0px solid #004040;
	float: left;
}

#lblCardInsert, #lblPinInsert, #lblCardNumberIn{
	float: left;
	margin-right: 30px;
	line-height: .8em;
}

#pinInsert {
	width: 10%;
	height: 30px;
	border-radius: 10px;
	border: 0px solid #004040;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	color: #004040;
	text-align: center;
}

#cardNumberIn{
	width: 50%;
	height: 30px;
	border-radius: 10px;
	border: 0px solid #004040;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 2em;
	color: #004040;
	text-align: center;
}

.lbl{
	margin-left: 20px;
	padding: 10px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 1.25em;
	line-height: 2em;
	text-align: center;
	color: aliceblue;
}

#left{
	display: table;
	width: 50%;
	float: left;
	align-content: center;
}

#right{
	display: table;
	width: 50%;
}